@model TimmApp.Models.Employee

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background: #032720;
    }

    .dl-horizontal {
        font-size: 17px;
        color: #fff;
    }
</style>

    <h2>Details</h2>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fname, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lname, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNum, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmployedAs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployedAs, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContractStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContractStartDate, new { @class = "listView" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContractEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContractEndDate)
            </dd>

        </dl>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>


