@model TimmApp.Models.Employee

@{
    ViewBag.Title = "Edit";
}

@using (Ajax.BeginForm("Edit", "Employee", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateSuccess"
        }, new { @id = "updateEmployeeForm" }))
    {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmployeeId)
        @*<div id="update-message" class="error invisible"></div>*@

        <div class="form-group">
                @*@Html.LabelFor(model => model.Fname, new { @class = "control-label col-md-2 col-md-offset-1" })*@
                <div class="col-md-10 col-md-offset-1">
                    @Html.TextBoxFor(model => model.Fname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Fname)
                </div>
        </div>

        <div class="form-group">
                @*@Html.LabelFor(model => model.Lname, new { @class = "control-label col-md-2 col-md-offset-1" })*@
                <div class="col-md-10 col-md-offset-1">
                    @Html.TextBoxFor(model => model.Lname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Lname)
                </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.PhoneNum, new { @class = "control-label col-md-2 col-md-offset-1" })*@
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(model => model.PhoneNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNum)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2 col-md-offset-1" })*@
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2 col-md-offset-1" })*@
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ContractStartDate, new { @class = "control-label col-md-2 col-md-offset-1" })*@
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(model => model.ContractStartDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContractStartDate)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ContractEndDate, new { @class = "control-label col-md-2 col-md-offset-1" })*@
            <div class="col-md-10 col-md-offset-1">
                @Html.TextBoxFor(model => model.ContractEndDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContractEndDate)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
