@model IEnumerable<TimmApp.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background: #032720;
    }

    h2 {
        margin-left: 29px;
    }

</style>
    <h2>@*Employees*@</h2>
<div class="container">
    <div class="col-md-6">

  
            @Html.ActionLink("Add employee", "Create", null, new { @class = "btn btn-green" })
 
        <table class="table">


            @foreach (var item in Model)
            {
                
                <tr>
                        <td>
                            <div class="listView">
                                @Html.ActionLink(Html.DisplayFor(modelItem => item.Fname).ToHtmlString(), "Details", new { id = item.EmployeeId }) @Html.ActionLink(Html.DisplayFor(modelItem => item.Lname).ToHtmlString(), "Details", new { id = item.EmployeeId })
                            </div>
                        </td>
                        <td>
                            <div class="listView">
                                @Html.DisplayFor(modelItem => item.Role)
                            </div>
                        </td>
                        <td>
                            <div class="listView">
                                @Html.DisplayFor(modelItem => item.EmployedAs)
                            </div>
                        </td>
                        @*<td>
                @Html.DisplayFor(modelItem => item.ContractStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEndDate)
            </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, new { @class = "editLink" })
                        </td>
                        <td>
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })*@
                        </td>
                </tr>
            }

        </table>

            <div id="updateDialog" title="Update Employee"></div>

    </div>
</div>

<script type="text/javascript"> 
    var linkObj;

    //$(function () {
    //    $(".createLink").button();

    //    $('#updateDialog').dialog({
    //        autoOpen: false,
    //        width: 400,
    //        resizable: false,
    //        modal: true,
    //        buttons: {
    //            "Create": function () {
    //                $("#update-message").html('');
    //                $("#createEmployeeForm").submit();
    //            },
    //            "Cancel": function () {
    //                $(this).dialog("close");
    //            }
    //        }

    //    });

    //    $(".createLink").click(function () {
    //        linkObj = $(this);
    //        var dialogDiv = $('#updateDialog');
    //        var viewUrl = linkObj.attr('href');
    //        $.get(viewUrl, function (data) {
    //            dialogDiv.html(data);
    //            var $form = $("#createEmployeeForm");
    //            $form.unbind();
    //            $form.data("validator", null);
    //            $.validator.unobtrusive.parse(document);
    //            $form.validate($form.data("unobtrusiveValidation").options);
    //            dialogDiv.dialog('open');
    //        });
    //        return false;
    //    });

    //});


    //function updateSuccess(data) {
    //    if (data.Success == true) {
    //        var parent = linkObj.closest("td");
    //        parent.find(".Fname").html(data.Object.Fname);
    //        parent.find(".Lname").html(data.Object.Lname);
    //        parent.find(".Role").html(data.Object.Role);
    //        parent.find(".EmployedAs").html(data.Object.EmployedAs);
    //        $('#updateDialog').dialog('close');
    //    }
    //    else {
    //        $("#update-message").html(data.ErrorMessage);
    //        $("#update-message").show();
    //    }
    //}



    $(function () {
        $(".editLink").button();

        $('#updateDialog').dialog({
            autoOpen: false,
            width: 400,
            resizable: false,
            modal: true,
            buttons: {
                "Update": function () {
                    $("#update-message").html('');
                    $("#updateEmployeeForm").submit();
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }

        });

        $(".editLink").click(function () {
            linkObj = $(this);
            var dialogDiv = $('#updateDialog');
            var viewUrl = linkObj.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                var $form = $("#updateEmployeeForm");
                $form.unbind();
                $form.data("validator", null);
                $.validator.unobtrusive.parse(document);
                $form.validate($form.data("unobtrusiveValidation").options);
                dialogDiv.dialog('open');
            });
            return false;
        });

    });


    function updateSuccess(data) {
        if (data.Success == true) {
            var parent = linkObj.closest("td");
            parent.find(".Fname").html(data.Object.Fname);
            parent.find(".Lname").html(data.Object.Lname);
            parent.find(".Role").html(data.Object.Role);
            parent.find(".EmployedAs").html(data.Object.EmployedAs);
            $('#updateDialog').dialog('close'); 
        }
        else {
            $("#update-message").html(data.ErrorMessage);
            $("#update-message").show();
        }
    }
    

</script>


