@using System.Linq
@model TimmApp.Models.PostViewModel
@*@model IEnumerable<TimmApp.Models.Post>*@
<script src="~/Content/Main.css"></script>
@{
    ViewBag.Title = "Postboard";
}
<style>
    body {
        background: #7D4D2D;
    }

    .label {
        padding: 0.2em 4em 0.3em;
        margin: -1em;
    }

</style>

    <h2>Postboard</h2>
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Add Post", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>

    <div class="col-md-1">
        <h3><span class="label label-primary">1st Priority</span></h3>
        @foreach (var item in Model.Posts.Where(x => x.priority == TimmApp.Models.Priority.First).OrderByDescending(a => a.postId))
        {
            <div class="row" style="background: #b6ff00; width: 20em;">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.postId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.postId }, new { @class = "btn btn-default" })<br />*@<br />
                <div class=" panel panel-first">
                    @Html.DisplayFor(modelItem => item.postMsg, new { @class = "panel-body" })
                </div>
                @*<div class="panel panel-default">
                        @Html.DisplayFor(modelItem => item.priority)
                    </div>*@
            </div>
        }
    </div>

    <div class="col-md-1">
        <h3><span class="label label-danger">2nd Priority</span></h3> 
        @foreach (var item in Model.Posts.Where(x => x.priority == TimmApp.Models.Priority.Second).OrderByDescending(a => a.postId))
        {
            <div class="row">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.postId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.postId }, new { @class = "btn btn-default" })*@<br />
                <div class=" panel panel-second">
                    @Html.DisplayFor(modelItem => item.postMsg, new { @class = "panel-body" })
                </div>
                @*<div class="panel panel-default">
                        @Html.DisplayFor(modelItem => item.priority)
                    </div>*@
            </div>
        }
    </div>

   
    <div class="col-md-1">
        <h3><span class="label label-success">3rd Priority</span></h3>
        @foreach (var item in Model.Posts.Where(x => x.priority == TimmApp.Models.Priority.Third).OrderByDescending(a => a.postId))
        {
            <div class="row">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.postId }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.postId }, new { @class = "btn btn-default" })*@<br />
                <div class=" panel panel-third">
                    @Html.DisplayFor(modelItem => item.postMsg, new { @class = "panel-body" })
                </div>
                @*<div class="panel panel-default">
                        @Html.DisplayFor(modelItem => item.priority)
                    </div>*@
            </div>
        }
    </div>
   
    <div class="col-md-1">
        <h3><span class="label label-info">4th Priority</span></h3>
    @foreach (var item in Model.Posts.Where(x => x.priority == TimmApp.Models.Priority.Forth).OrderByDescending(a => a.postId))
    {
        <div class="row">
            @*@Html.ActionLink("Edit", "Edit", new { id = item.postId }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.postId }, new { @class = "btn btn-default" })*@<br />
            <div class=" panel panel-fourth">
                @Html.DisplayFor(modelItem => item.postMsg, new { @class = "panel-body" })
            </div>
            @*<div class="panel panel-default">
                    @Html.DisplayFor(modelItem => item.priority)
                </div>*@
        </div>
    }
    </div>

@*</div>*@
